header {
  	font-family: 'Roboto', sans-serif;
  	padding: 2px;
  	padding-top: 20px;
  	padding-bottom: 10px;
}

header .row,
footer .row {
  	display: flex;
  	align-items: center;
}

header h1 {
	font-family: 'Roboto', sans-serif;
  	font-weight: 500;
    font-size: 50px;
  	margin: 0;
}

body {

}

header h1 {
	font-family: 'Roboto', sans-serif;
  	font-weight: 700;
  	margin: 0;
}

ul {
	font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section li {
	display: inline;
	padding: 10px;
}

label.input {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

input.input {
	display: block;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.well {
	display: table;
	width: 50%;
    margin: 0 auto;
	text-align: center;
}

.postTitle {
	width: 300px;
}

.postBody {
	height: 250px;
	width: 500px;
}

.btn {
	color: #333333;
	font-family: 'Roboto', sans-serif;
	font-weight: 1200;
}

footer {
  font-size: 12px;
  padding-top: 20px 0;
  padding-bottom: 10px 0;
  margin: 50px 0;
}
