<!DOCTYPE html>

<html>

<head>
	<title>Success</title>
	
	 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- google fonts link -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Syncopate:700,400' rel='stylesheet' type='text/css'>

</head>

<body>
	<header class="container">
        <h1 align="center"> <br> Success! <br> </h1>
	</header>

	<section>
		<div>
			<div class="well" align="center" >

				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}

				<form onsubmit="" method="post" autocomplete="on">
				    <h4> Back to <a href="/">Home Page</a> </h4> 
				</form>
				
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }} </p>
				{% endif %}
				
			</div>
		</div>
	</section>
</body>

</html>