<!DOCTYPE html>

<html>

<head>
	<title>Create Account</title>
	
	 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- google fonts link -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Syncopate:700,400' rel='stylesheet' type='text/css'>

</head>

<body>

	<script type="text/javascript">
		function showfield(name){
  			if(name=='Administrator')document.getElementById('div1').innerHTML='<label for="accesscode">Administrator Access Code:</label> <input type="text" name="accesscode" required />';
  			else document.getElementById('div1').innerHTML='';
		}
	</script>


	<!-- Header -->
	<header class="container" align="center">
        <div class="row" >
            <img class="col-sm-2" src="../static/images/ElephantMainb.jpg" >
            <h1 class="col-sm-8"> The Elephant in the Room <br>
                <small> create an account </small>
            </h1>
            <img class="col-sm-2" src="../static/images/ElephantMainb.jpg" >
        </div>

        <hr> 

    </header>

    <!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="well" align="center" >
				<form  action="" method="post"> 
				    <h1> Sign up </h1> 
				    <br>
				    <p> 
				         <label for="firstname" class="fname" data-icon="u">First Name:</label>
				         <input id="firstname" name="firstname" required="required" type="text" placeholder="John" />
				    </p>
				    <p> 
				         <label for="lastname" class="lname" data-icon="u">Last Name:</label>
				         <input id="lastname" name="lastname" required="required" type="text" placeholder="Domer" />
				    </p>
				    <p>
				    	<label for="accounttype" class="atype" data-icon="a">Account Type:</label>
				    	<select name="accounttype" id="accounttype" onchange="showfield(this.options[this.selectedIndex].value)" >
				    		<option value="Student">Student</option>
				    		<option value="Administrator">Administrator</option>
				    	</select>
				    	<div id="div1"></div>
				    </p>
				    <p> 
				         <label for="username" class="uname" data-icon="u">Username:</label>
				         <input id="username" name="username" required="required" type="text" placeholder="jdomer" />
				    </p>
				    <p> 
				         <label for="password" class="youpasswd" data-icon="p">Password:</label>
				         <input id="password" name="password" required="required" type="password" placeholder="Password"/>
				    </p>
				    <p> 
				         <label for="password_confirm" class="password" data-icon="p">Confirm Password:</label>
				         <input id="password_confirm" name="password_confirm" required="required" type="password" placeholder="Password"/>
				    </p>
				    <p> 
				         <label for="email" class="youmail" data-icon="e" >Email:</label>
				         <input id="email" name="email" required type="email" pattern="[a-z.]*[@]\bnd.edu" required placeholder="jdomer@nd.edu" oninvalid="this.setCustomValidity('Need nd.edu email address')" oninput="setCustomValidity('')" /> 
				    </p>
				    <p class="signin button"> 
				    <input type="submit" value="Register"/> 
				    </p>
				    
				</form>

				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}
				
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }} </p>
				{% endif %}

			</div>
		</div>

		<br>
		<hr> 

		<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; University of Notre Dame DFA 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

	</div>

</body>

</html>