<!DOCTYPE html>

<html>

<head>
	<title>Create Account</title>
	
	 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- google fonts link -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Syncopate:700,400' rel='stylesheet' type='text/css'>

</head>

<body background="{{url_for('static', filename='images/pink_rice.png')}}">

	<script type="text/javascript">
		function showfield(name){
  			if(name=='Administrator')document.getElementById('div1').innerHTML='<label for="accesscode">Administrator Access Code:</label> <input type="text" name="accesscode" required />';
  			else document.getElementById('div1').innerHTML='';
		}
	</script>


	<header class="container">
        <h1 align="center"> <br> Create Your Account <br> </h1>
	</header>

	<section>
		<div>
			<div class="well" align="center" >
				<form  action="" method="post"> 
				    <h1> Sign up </h1> 
				    <p> 
				         <label for="firstname" class="fname" data-icon="u">First Name:</label>
				         <input id="firstname" name="firstname" required="required" type="text" placeholder="John" />
				    </p>
				    <p> 
				         <label for="lastname" class="lname" data-icon="u">Last Name:</label>
				         <input id="lastname" name="lastname" required="required" type="text" placeholder="Domer" />
				    </p>
				    <p>
				    	<label for="accounttype" class="atype" data-icon="a">Account Type:</label>
				    	<select name="accounttype" id="accounttype" onchange="showfield(this.options[this.selectedIndex].value)" >
				    		<option value="Student">Student</option>
				    		<option value="Administrator">Administrator</option>
				    	</select>
				    	<div id="div1"></div>
				    </p>
				    <p> 
				         <label for="username" class="uname" data-icon="u">Username:</label>
				         <input id="username" name="username" required="required" type="text" placeholder="jdomer" />
				    </p>
				    <p> 
				         <label for="password" class="youpasswd" data-icon="p">Password:</label>
				         <input id="password" name="password" required="required" type="password" placeholder="Password"/>
				    </p>
				    <p> 
				         <label for="password_confirm" class="password" data-icon="p">Confirm Password:</label>
				         <input id="password_confirm" name="password_confirm" required="required" type="password" placeholder="Password"/>
				    </p>
				    <p> 
				         <label for="email" class="youmail" data-icon="e" >Email:</label>
				         <input id="email" name="email" required type="email" pattern="[a-z.]*[@]\bnd.edu" required placeholder="jdomer@nd.edu" oninvalid="this.setCustomValidity('Need nd.edu email address')" oninput="setCustomValidity('')" /> 
				    </p>
				    <p class="signin button"> 
				    <input type="submit" value="Register"/> 
				    </p>
				    
				</form>

				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}
				
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }} </p>
				{% endif %}

			</div>
		</div>
	</section>
</body>

</html>