<!DOCTYPE html>

<html>

<head>
	<title>Login</title>
	
	 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- google fonts link -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Syncopate:700,400' rel='stylesheet' type='text/css'>

</head>

<body>
	
	<!-- Header -->
	<header class="container" align="center">
        <div class="row" >
            <img class="col-sm-2" src="../static/images/ElephantMainb.jpg" >
            <h1 class="col-sm-8"> The Elephant in the Room <br>
                <small> login </small>
            </h1>
            <img class="col-sm-2" src="../static/images/ElephantMainb.jpg" >
        </div>

        <hr> 

    </header>

    <!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="well" align="center" >
				<form action="" method="post" autocomplete="on">
					<p> 
				        <label for="username" class="uname" data-icon="u" >Username:</label>
				        <input value="{{request.form.username}}" id="username" name="username" required="required" type="text" placeholder="Username"/>
				    </p>
				    <p> 
				        <label value="{{request.form.password}}" for="password" class="youpasswd" data-icon="p">Password:</label>
				        <input id="password" name="password" required="required" type="password" placeholder="Password" /> 
				    </p>
				    <p class="login button"> 
				        <input type="submit" value="Login" /> 
				    </p>
				</form>

				<p> Don't have an account? <a href="/createAccount"> Create one! </a> </p>

				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}
				
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }} </p>
				{% endif %}
			</div>
		</div>

		<br>
		<hr>

		<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; University of Notre Dame DFA 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
		
	</div>

</body>

</html>