<!DOCTYPE html>

<html>

<head>
	<title>New Post</title>
	
	 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- google fonts link -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Syncopate:700,400' rel='stylesheet' type='text/css'>

</head>

<body>
	
	<!-- Header -->
	<header class="container" align="center">
        <div class="row" >
            <img class="col-sm-2" src="../static/images/ElephantMainb.jpg" >
            <h1 class="col-sm-8"> The Elephant in the Room <br>
                <small> new post </small>
            </h1>
            <img class="col-sm-2" src="../static/images/ElephantMainb.jpg" >
        </div>

        <hr> 

    </header>

    <!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="well" align="center" >
				<form onsubmit="" method="post" autocomplete="on">
					<p> 
				        <label>Post Title:</label>
				        <input class="postTitle" id="postTitle" name="postTitle" required="required" type="text"/>
				    </p>
				    <p> 
				        <label>Post Category:</label>
				        <select id="postCategory" name="postCategory" required="required"> 
				        	<option value="UCC Experience">UCC Experience</option>
				        	<option value="Concern for Others">Concern for Others</option>
				        	<option value="Relationships">Relationships</option>
				        	<option value="General">General</option>
				        	<option value="Other">Other</option>
				        </select>
				    </p>
				    <p> 
				    	<label for="postBody" >Description: <br> </label>
				        <textarea class="postBody" id="postBody" name="postBody" required="required" type="text"></textarea> 
				    </p>
				    <p> 
				        <input type="submit" value="Publish" /> 
				    </p>
				</form>
			</div>
		</div>
		<br>
		<hr>

		<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; University of Notre Dame DFA 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

	</div>


</body>

</html>